:root {
    --main-color: #3399ff;
    --line-color: #c9c9c9;
    --line-color2: #a9a9a9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    /* height: 120px; */
    margin-left: 0;
    /* border: 1px solid #a9a9a9; */
    z-index: 99;
}


/* 헤더 첫 번째 줄 (시작) */
.nav1 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

/* .nav1_left, .nav1_center {
    border-right: 1px solid #c9c9c9;
} */

.nav1_left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav1_left a {
    display: flex;
    align-items: center;
    margin-left: 100px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

.nav1_left a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav1_center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav1_center .search {
    width: 380px;
    height: 38px;
    padding-left: 15px;
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--line-color2);
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.nav1_center .search:focus {
    border: 2px solid var(--main-color);
    opacity: 0.6; /* 색상 투명도 조절 */
}

.nav1_center button {
    position: absolute;
    transform: translateX(1200%);
    background-color: transparent;
    border: none;
}

.nav1_center button:hover {
    color: var(--main-color);
}

/* .nav1_center button:active {
    color: var(--main-color);
} */

.nav1_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav1_right .link_wrap {
    margin-right: 100px;
}

.nav1_right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav1_right a:hover {
    color: var(--main-color);
}
/* 헤더 첫 번째 줄 (끝) */


/* 헤더 두 번째 줄 (시작) */
.nav2 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 3px var(--line-color);
    opacity: 0.8;
}

.nav2_left {
    margin-left: 100px;
}

.nav2_left a {
    margin-right: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

.nav2_left a:hover {
    color: var(--main-color);
}

.nav2_left .hire {
    color: var(--main-color);
}

.nav2_right {
    margin-right: 100px;
}

.nav2_right .customer {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.nav2_right .customer:hover {
    color: var(--main-color);
}
/* 헤더 두 번째 줄 (끝) */

/* 이력서 디자인 */
.resume_title{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume_content{
    margin: auto;
    width: 850px;
    height: 250px;
    border: #c9c9c9;
    border-top: solid 2px #c9c9c9;
    /* border-bottom: solid 1px #c9c9c9; */
    border-right: none;
    border-left: none;
}

.picture{
    width: 165px;
    /* border-left: none; */
}

.pic_register{
    margin-left: 40px;
    margin-top: 200px;
    background-color: #c9c9c9;
    cursor: pointer;
}

.phone_number{
    /* width: 94px; */
    font-weight: 600;
}

.name{
    width: 150px;
    text-align: left;
    font-weight: 600;
    border-right: none;
    height: 55px;
}

.name_input{
    /* width: 150px; */
    border-left: none;
    border-right: none;
}

.jumin1{
    height: 35px;
    width: 120px
}

/*.jumin1:focus{
    outline: 2px solid #3399ff;
    opacity: 0.6;
}*/

.jumin2{
    height: 35px;
    width: 22px;
}

.address{
    width: 150px;
    font-weight: 600;
    border-right: none;
    height: 100px;
}

.address_input{
    border-left: none;
    height: 85px;
    
}

.big_address{
    width: 400px;
    height: 35px;
    margin-bottom: 2px;
}

.small_address{
    width: 400px;
    height: 35px;
}
.phone_number{
    border-right: none;
}

.phone_number_input{
    border-left: none;
    height: 55px;
}

.phonenumberbox{
    height: 35px;
    width: 300px;
}

.person_number{
    /* width: 80px; */
    border-left: none;
    border-right: none;
    font-weight: 600;
    height: 55px;
}

.person_number_input{
    border-left: none;
    /* width: 180px; */
}

.email{
    border-right: none;
    font-weight: 600;
    height: 55px;
}

.email_input{
    border-left: none;
    border-right: none;
}

.disorder_type{
    border-left: none;
    border-right: none;
    font-weight: 600;
}

.disorder_type_input{
    border-left: none;
}

.resume_content_2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 850px;
    height: 250px;
    border: #c9c9c9;
    border-left: none;
    border-right: none;
}

.study{
    position: relative;
    /* text-align: left; */
    font-weight: 600;
    /* font-size: 25px; */
    margin-left: 333px;
    margin-top: 20px;
}

.time{
    font-weight: 600;
    text-align: center;
    width: 151px;
}

.time_input{
    height: 65.78px;
    text-align: center;
}

.school{
    font-weight: 600;
    text-align: center;
    width: 500px;
}

.school_input{
    text-align: center;
}

.score{
    font-weight: 600;
    text-align: center;
    width: 120px;
}

.score_input{
    text-align: center;
}

.graduate{
    font-weight: 600;
    text-align: center;
    width: 120px;
}

.graduate_input{
    text-align: center;
}

.timebox{
    height: 35px;
    width: 110px;
}

.schoolbox{
    height: 35px;
    width: 400px;
}

.scorebox{
    height: 35px;
    width: 65px;
}

.graduate_yn{
    height: 35px;
}

.career{
    position: relative;
    margin-left: 333px;
    margin-top: 20px;
    font-weight: 600;
}

.resume_content_3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 850px;
    height: 250px;
    border: #c9c9c9;
    border-left: none;
    border-right: none;
}

.career_time{
    font-weight: 600;
    text-align: center;
    width: 151px;
}

.career_time_input{
    height: 65.78px;
    text-align: center;
}

.companybox{
    height: 35px;
    width: 400px;
    text-align: center;
}

.company{
    font-weight: 600;
    text-align: center;
}

.company_input{
    text-align: center;
}

.position{
    font-weight: 600;
    text-align: center;
    width: 113px;
}

.position_input{
    text-align: center;
}

.positionbox{
    height: 35px;
    width: 65px;
}

.retire{
    width: 113px;
    font-weight: 600;
    text-align: center;
}

.retire_input{
    text-align: center;
}

.retirebox{
    height: 35px;
    width: 65px;
}

.hope_list{
    position: relative;
    margin-left: 333px;
    margin-top: 20px;
    font-weight: 600;
}

.resume_content_4{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 850px;
    height: 250px;
    border: #c9c9c9;
    border-left: none;
    border-right: none;
}

.hope_job{
    width: 151px;
    height: 53.5px;
    font-weight: 600;
    text-align: center;
}

.hope_pay{
    font-weight: 600;
    text-align: center;
    height: 53.5px;
}

.hope_area{
    font-weight: 600;
    text-align: center;
    height: 53.5px;
}

.hire_type{
    font-weight: 600;
    text-align: center;
    height: 53.5px;
}

.hire_option{
    height: 35px;
    width: 500px;
    margin-left: 25px;
}

.sido{
    height: 35px;
    width: 500px;
    margin-left: 25px;
}

.koyong{
    height: 35px;
    width: 500px;
    margin-left: 25px;
}

.jikjong{
    height: 35px;
    width: 500px;
    margin-left: 25px;
}

.yeonbong{
    height: 35px;
    width: 500px;
    margin-left: 25px;
}

/* 버튼디자인 */
.buttons{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.register{
    width: 150px;
    height: 50px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    background-color: #3399ff;
    cursor: pointer;
    border: none;
}

.cancle{
    width: 150px;
    height: 50px;
    background-color: white;
    color: #c9c9c9;
    border: solid 1px lightgray;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
}