<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
            flex-direction: row;
            height: 100vh;
        }

        .column {
            flex: 1;
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="column">
            <!-- 첫 번째 공간 -->
        </div>
        <div class="column">
            <!-- 두 번째 공간 -->
        </div>
        <div class="column">
            <!-- 세 번째 공간 -->

            <p>sadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdassadasfasdfadsfdasgfadsggfdfgadfgadfgadfgadfgadgdfdasdas</p>
        </div>
    </div>
</body>
</html>
